/* В этом файле уже написаны некоторые базовые стили, которые сбрасывают или преобразуют дефольное браузерное поведение.
Здесь же лежит утилитарный класс visually-hidden на случай, если нужно скрыть какой-то элемент, но оставить доступным для скринридера.
Вы можете изменять этот файл или дополнять. Но скорее всего, вам это не потребуется. */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

button,
input {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

picture,
img {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0;
}

picture,
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-fc);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}